.resource-view {
    position: relative;
}

.resource-view .pygments-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#pygments-spinner {
    gap: 0.25rem;
    display: none;
    align-items: center;
}

.htmx-request#pygments-spinner {
    display: flex;
}

body.pygments-request-pending {
    opacity: 0.7;

}

.ckanext-datapreview .pgh {
    max-height: 700px;
    overflow: auto;
}

.ckanext-datapreview[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.pgh {
    width: 100%;
}

.pgh pre {
    font-size: 1em;
    line-height: 1.4;
}

.pgh .linenos a {
    color: inherit !important;
}
