{% set preview_url = h.url_for(
    'pygments.highlight',
    resource_id=resource.id,
    theme=resource_view.theme,
    chunk_size=resource_view.size,
    file_url=resource_view.file_url,
    resource_view_id=resource_view.id if resource_view.file_url else '',
    show_line_numbers=resource_view.show_line_numbers
) %}

<div
    data-module="pygment-global"
    hx-target="this"
    hx-trigger="load delay:1ms, htmx:afterRequest from:.btn-pygment-refresh"
    hx-get="{{ preview_url }}"
    {% if h.pygments_is_cache_enabled() %}hx-disabled-elt=".btn-pygment-refresh, .ckanext-datapreview"{% endif %}>
    <span>
        {% snippet "pygments/pygment_indicator.html" %}
        {{ _("Preparing your preview...") }}
    </span>
</div>

{% asset 'pygments/pygments-js' %}

{% if h.pygments_include_htmx_asset() %}
    {% asset "pygments/pygments-js-htmx" %}
{% endif %}

{% asset 'pygments/pygments-css' %}
